:root {
    --size: 4px;
    --color: #ff504a;
    --height: 120px;
    --width: 120px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color);
    padding-top: 20px;
}
.header {
    font-size: 35px;
    padding-bottom: 20px;
}
tr {
    height: var(--height);
    width: var(--width);
}
td {
    height: var(--height);
    width: var(--width);
}
.first {
    border-right: var(--color) var(--size) solid;
    border-bottom: var(--color) var(--size) solid;
}
.third {
    border-left: var(--color) var(--size) solid;
    border-bottom: var(--color) var(--size) solid;
}
.fifth {
    border: var(--color) var(--size) solid;
}
.seventh {
    border-top: var(--color) var(--size) solid;
    border-right: var(--color) var(--size) solid;
}
.ninth {
    border-top: var(--color) var(--size) solid;
    border-left: var(--color) var(--size) solid;
}

